# RPC URLs for Ethereum L1 and Polygon ZkEVM L2
# DO NOT CHANGE THIS
RPC_URL_1=http://localhost:8545
RPC_URL_2=http://localhost:8546
RPC_URL_3=http://localhost:8547

FORK_URL_MAINNET=https://eth-mainnet.public.blastapi.io
FORK_URL_AGGLAYER_1=https://polygon-mainnet.public.blastapi.io
FORK_URL_AGGLAYER_2=https://polygon-mainnet.public.blastapi.io

# Chain IDs
CHAIN_ID_MAINNET=1
CHAIN_ID_AGGLAYER_1=1101
CHAIN_ID_AGGLAYER_2=137

# Account Configuration
ACCOUNT_ADDRESS_1=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266
PRIVATE_KEY_1=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
ACCOUNT_ADDRESS_2=0x70997970C51812dc3A010C7d01b50e0d17dc79C8
PRIVATE_KEY_2=0x59c6995e998f97a5a0044966f0945389dc9e86dae88c7a8412f4603b6b78690d

# Docker Environment Flag
DOCKER_ENV=true

# The following variables will be populated by the deployment script
# L1 Contract Addresses
FFLONK_VERIFIER_L1=
POLYGON_ZKEVM_L1=
POLYGON_ZKEVM_BRIDGE_L1=
POLYGON_ZKEVM_TIMELOCK_L1=
POLYGON_ZKEVM_GLOBAL_EXIT_ROOT_L1=
POLYGON_ROLLUP_MANAGER_L1=
ERC20=

# L2 Contract Addresses
POLYGON_ZKEVM_BRIDGE_L2=
POLYGON_ZKEVM_TIMELOCK_L2= 